/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .main-container {
  background-color: #fff;
 }

 /* --------------------------
          Basic Boostrap
 ---------------------------*/

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #035891;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


 /* --------------------------
          Colors used
 ---------------------------*/
 /*      #f3fb18 (bright yellow)
         #edf3fc (light gray)
         #035891 (navyist blue)
         #3f8da4 (teal)
         #544f4f  (dark gray)
         aaa0a0  (light gray) */


  /* --------------------------
          Typography
 ---------------------------*/

 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
 @import url('https://fonts.googleapis.com/css?family=Comfortaa');
 
 h1, h2, h3, h4, h5, h6 {
   font-family: 'Abril Fatface', serif;
 }

 .navbar ul, nav-item, p, .btn {
   font-family: 'Comfortaa', serif !important;
   font-weight: 200;
 }

 .main-jumbo h1, h4 {
  color: white;
 }

 .field {
  font-family: 'Comfortaa', serif !important;
}

   /* --------------------------
          Buttons
 ---------------------------*/

.btn-primary {
  background-color: #f3fb18 !important;
  border: none !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

  /* --------------------------
          Navigation
 ---------------------------*/
.navbar, .navbar-nav, .navbar .container {
  background-color: #515151;
}

.navbar a {
  color: #aaa0a0;
}

.nav-item {
  margin: 0px 0px 0px 20px;
}

/* --------------------------
          Footer
 ---------------------------*/

 .navbar p {
   color: #edf3fc;
   padding-top: 3px;
 }

  /* --------------------------
          Home/ Static Page
 ---------------------------*/

 .main-jumbo {
  text-align:center;
  margin-top: -750px; 
 }

 .home-photo {
   opacity: 0.9;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-left: -50px;
   margin-top: -75px;
 }
  /* --------------------------
          Activities 
 ---------------------------*/

 .activities-index {
  margin-top: 100px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #515151;
 }

 .activities-index h1 {
 text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

  /* --------------------------
          Forms
 ---------------------------*/
.field {
  margin-bottom: -5px;
  border-radius: 5%;
}

 .sign-up, .why-join {
   margin-top: 100px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   border-radius: 5%;
   padding-top: 5px;
   padding-bottom: 5px;
   height: 325px;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }
 .sign-up h2, .why-join h2, .log-in h2 {
 text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

 .sign-up {
   background: #edf3fc;
   color: #515151;
 }

 .why-join {
   background: #035891;
   color: #edf3fc;
 }

 .container .log-in {
  margin-top: 100px;
  text-align: center;
  background: #edf3fc;
  margin: 10px 10px 10px 10px;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 325px;
  color: #515151;
 }

 .log-in {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

  .log-in h2 {
   border-radius: 5%;
   text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

//  .log-in button, {
//     background-color: #f3fb18;
//     box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
//  }

  /* --------------------------
          Workouts
 ---------------------------*/



 .workout-index {
  margin-top: 100px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 325px;
  color: #515151;
 }

 .workout-index h1 {
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }