/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 .main-container {
  background-color: #fffffa;
 }

 /* --------------------------
          Basic Boostrap
 ---------------------------*/

body {
  background-color: #fffffa;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #fffffa;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #035891;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #fffffa;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fffffa;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


 /* --------------------------
          Colors used
 ---------------------------*/
 /*      #f3fb18 (bright yellow)
         #f9fbfc (light gray)
         #3f8da4 (teal)
         #515151 (dark gray)
         aaa0a0  (light gray)
         #fffffa (almost white) */


  /* --------------------------
          Typography
 ---------------------------*/

 @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
 @import url('https://fonts.googleapis.com/css?family=Comfortaa');
 
 h1, h2, h3, h4, h5, h6 {
   font-family: 'Abril Fatface', serif;
 }

 .navbar ul, nav-item, p, th, tr, td, .btn {
   font-family: 'Comfortaa', serif !important;
   font-weight: 200;
 }

 .main-jumbo h1, h4 {
  color: #fffffa;
 }

 .field {
  font-family: 'Comfortaa', serif !important;
}

.activities-index .col-sm p  {
  font-family: 'Comfortaa', serif !important;
  font-size:  1.5em;
  font-weight: 300;
}

   /* --------------------------
          Buttons
 ---------------------------*/

.btn-primary {
  background-color: #f3fb18 !important;
  border: none !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.btn-warning {
  border: none !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #a5a5a5;
}

.btn-default  {
  background-color: #f3fb18 !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  /* --------------------------
          Navigation
 ---------------------------*/
.navbar, .navbar-nav, .navbar .container {
  background-color: #515151;
}

.navbar a {
  color: #aaa0a0;
}

.nav-item {
  margin: 0px 0px 0px 20px;
}

/* --------------------------
          Footer
 ---------------------------*/

 .navbar p {
   color: #f9fbfc
   #f9fbfc;
   padding-top: 3px;
 }

  /* --------------------------
          Home/ Static Page
 ---------------------------*/

 .main-jumbo {
  text-align:center;
  margin-top: -750px; 
 }

 .home-photo {
   opacity: 0.9;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   margin-left: -50px;
   margin-top: -75px;
 }
  /* --------------------------
          Activities 
 ---------------------------*/

 .activities-index {
  text-align: center;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #515151;
 }

//  .activities-index .col-sm :hover {
//    background-color: red;
//    opacity: 0.2;
//  }

 .activities-index .col-sm {
   background-color: #ffffff;
   margin: 5px 5px 5px 5px;
   border-radius: 5%;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

 .activities-index .col-md-4 {
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .activities-index h1 {
 text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

  /* --------------------------
          Forms
 ---------------------------*/
.field {
  margin-bottom: -5px;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 5px;
}

 .sign-up, .why-join, .workout-show, .user-edit {
   margin-top: 100px;
   text-align: center;
   margin: 10px 10px 10px 10px;
   border-radius: 5%;
   padding-top: 5px;
   padding-bottom: 5px;
   height: 375px;
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }
 .sign-up h2, .why-join h2, .log-in h2 {
  text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

 .sign-up {
   background: #f9fbfc;
   color: #515151;
 }

 .user-edit {
   height: 100%;
   margin-top: -50px;
   padding-bottom: 50px;

 }

 .workout-show #notice {
   margin-top: 100px;
 }

 .workout-show {
   margin-top: 50px;
 }

 .why-join {
   background: #515151;
   color: #f9fbfc;
 }

 .why-image {
  height: 30%;
  width: 100%;
 }

 .container .log-in {
  margin-top: 100px;
  text-align: center;
  background: #f9fbfc;
  margin: 10px 10px 10px 10px;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 325px;
  color: #515151;
 }

 .log-in {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

  .log-in h2 {
   border-radius: 5%;
   text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }


  /* --------------------------
          Workouts
 ---------------------------*/

 .workout-new, .activity-new, .workout-index, .workout .Activity {
  margin-top: 100px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  color: #515151;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }

 .workout-index { 
   height: 100%;
   margin-left: 5px;
   margin-right: 5px;
   margin-bottom: 100px;
 }

 .workout-index h1 {
    text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
 }