<p id="notice"><%= notice %></p>

  <div class="container">
    <div class="row">

      <div class="col-sm">
      </div>

      <div class="col-sm">
        <div class="jumbotron">
  
          <p>
          <strong>Type:</strong>
          <%= @activity.name %>
          </p>
          
          <%= link_to 'Get in shpe', new_activity_workout_path(@activity.id) %>

          <%= react_component 'ActivityName', {activity: @activity} %>
        </div>
      </div>

      <div class="col-sm">
      </div>

    </div>
  </div>  




 